$mobile: 744px;
$tablet: 1023px;
$desktop: 1024px;
$navigation-height: 80px;

.container {
  background-color: var(--white);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin-top: $navigation-height;

  label {
    b {
      color: var(--dark);
      font-weight: 700;
      font-size: 24px;
      line-height: 28.13px;
    }
  }
}

.form {
  display: flex;
}

// TODO: class 충돌
#root {
  padding-bottom: 0;
}
body main .form {
  margin: 0;
  padding: 30px;
}
body main .form div {
  margin: 0;
  
}
// TODO: class 충돌

.form .userImg {
  align-self: center;
  width: 157px;
  height: 157px;
  margin-bottom: 70px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.19);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  flex-shrink: 0;
}

.form > div > label {
  width: fit-content;
  margin: 10px 0;
}

.field {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;

  &:nth-child(2) {
    display: inline;
    label {
      display: block;
    }
  }

  select,
  input {
    margin-top: 5px;
    border-radius: 5px;
    border-width: 1px;
  }
}

.nickname-input {
  width: 150px;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type='text']:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.sido-select {
  width: 80px;
  margin-right: 5px;

  &:hover {
    cursor: pointer;
  }
}

.sigungu-select {
  width: 120px;
  &:hover {
    cursor: pointer;
  }
}
.position-select {
  width: 150px;
  &:hover {
    cursor: pointer;
  }
}

.stack-select {
  display: grid;
  gap: 10px;
  column-gap: 30px;
  margin: 15px 0;

  grid-template-columns: repeat(4, 1fr);

  @media (max-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  label:hover,
  input:hover {
    cursor: pointer;
  }

  div {
    display: flex;
    justify-content: space-between;
  }
}

.check-with-label:checked + .label-for-check {
  color: var(--medium2);
}

.clearfix {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;

  button {
    border-radius: 10px;
    border: none;
    background: none;
    padding: 10px 15px;
    cursor: pointer;
  }

  .updateBtn {
    margin-left: 15px;
    background-color: var(--dark);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: white;

    &:hover {
      opacity: 0.9;
    }
  }

  .unsubscribeBtn {
    background-color: var(--gray);
  }
}

.profile-skeleton {
  background: #eee;
  position: relative;
}

.profile-skeleton::before {
  content: '';
  position: absolute;
  width: 157px;
  height: 157px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.9),
    transparent
  );
  top: 0;

  animation: loading 0.8s infinite;
}

@keyframes loading {
  0% {
    transform: skewX(-10deg) translateX(-100%);
  }
  100% {
    transform: skewX(-10deg) translateX(200%);
  }
}
