.recommend-no-result {
  .recommend-no-result__contents {
    text-align: center;

    img {
      margin-top: 9vh;
      width: 70%;
    }

    p {
      color: gray;
      font-size: 1.2rem;
      margin-top: 1vh;
    }
  }
}
