{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ignorePatterns": ["node_modules/"],
  "rules": {
    "quotes": ["error", "single"],
    "linebreak-style": "off",
    "no-new": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "no-restricted-syntax": "off",
    "no-else-return": "off",
    "no-restricted-globals": ["off"],
    "consistent-return": ["off", { "treatUndefinedAsUnspecified": true }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
