.commentForm {
  display: flex;
  position: relative;
  margin: 30px 0px;
}

.writeComment {
  padding: 15px;
  width: 100%;
  height: 100px;
  &:focus {
    outline: none;
    border: 1px solid var(--dark);
    box-shadow: 0 0 5px var(--medium2);
  }
}

.submitComment {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 12px 20px 8px;
  border-radius: 30px;
  font-weight: 600;
  opacity: 0.6;
  border: 0;
  transition: opacity 0.3s, background-color 0.3s;
  &:hover {
    cursor: pointer;
    background-color: var(--medium);
    color: var(--gray);
  }
}
