.write {
  max-width: 1080px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 0 2em;
  }
  &__category {
    margin: 1em 0.5em;
  }
  &__category--2x {
    grid-column: span 2;
  }
  &__category--btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  &__date--start-date {
    margin-bottom: 0.5em;
  }
  &__textarea {
    border: 1px solid rgb(196, 196, 196);
    padding: 1em;
    border-radius: 0.25em;
    width: 100%;
    height: 50vh;
  }
  &__title {
    font-size: 1.25em;
    margin-bottom: 1em;
  }
  &__sub-title {
    font-size: 0.875em;
    margin-bottom: 0.25em;
  }
  &__select {
    border: 1px solid rgb(196, 196, 196);
    height: 2em;
    border-radius: 12px;
    width: 100%;
    padding: 0px 10px;
  }
  &__btn {
    height: 25px;
    border-radius: 0.25em;
    border: 1px solid rgb(196, 196, 196);
  }
  &__input {
    border: 1px solid rgb(196, 196, 196);
    height: 2em;
    border-radius: 12px;
    width: 100%;
    padding: 0px 10px;
  }
  &__input-wrapper {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    gap: 0.25em;
    align-items: center;
  }
  &__stacks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 780px) {
  .write {
    &__form {
      display: flex;
      flex-direction: column;
    }
  }
}
