@import '../../styles/utils';
.skill__icon {
  margin-top: 20px;
  cursor: pointer;
  z-index: 1;
  right: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    aspect-ratio: 1;
    width: 50px;
    margin: 10px;
    align-items: center;
    opacity: 0.25;

    &:hover {
      transform: scale(1.2);
    }
    @include tablet {
      width: 40px;
    }
    @include mobile {
      width: 30px;
    }
  }
  .activateBtn {
    opacity: 1;
    transform: scale(1.2);
  }
}
