@import '../../styles/utils';

.dropdown {
  position: relative;

  width: 100%;
}

.profile {
  position: relative;

  width: 50px;
  height: 50px;
}

.profile__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  object-fit: cover;
  cursor: pointer;
}

.dropdown__content::before {
  position: absolute;
  z-index: 0;
  top: -5px;
  right: 20px;

  width: 10px;
  height: 10px;

  background: var(--dark);

  transform: rotate(45deg);
  content: '';
}
.dropdown__content {
  position: absolute;
  top: 70px;
  right: 0px;

  visibility: hidden;
  opacity: 0;
  width: 110px;
  padding: 10px 10px;
  border-radius: 15px;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background-color: var(--dark);
}

.dropdown__content--active {
  visibility: visible;
  opacity: 0.9;
}

.dropdown__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.dropdown__link {
  color: var(--white);

  font-size: 15px;
  font-weight: bold;
  text-decoration: none;

  cursor: pointer;
  &:hover {
    opacity: 0.3;
  }
}

@include mobile {
  .profile {
    display: none;
  }

  .dropdown__content::before {
    display: none;
  }

  .dropdown__content {
    position: relative;
    top: 0;

    visibility: visible;
    opacity: 1;
    width: 100%;
  }

  .dropdown__link {
    width: 100%;
    
    text-align: center;
  }
}

