:root {
  --white: #ffffff;
  --gray: #f9f9f9;
  --black: #000000;
  --light: #e9f3f9;
  --bright: #afd9f1;
  --medium: #515caa;
  --medium2: #1c1c1d;
  --dark: #24274a;
  --background-blue: #e9f3f9;
}

@font-face {
  font-family: 'EliceDigitalBaeum_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'EliceDigitalBaeum_Regular';
}
