.comment {
  padding: 1.5em 0px;
  border-bottom: 1px solid rgb(0, 0, 0, 20%);
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  &__content {
    margin-top: 0.75em;
  }
  &--nested {
    margin: 0 0 0 2em;
  }
  &__time {
    opacity: 0.6;
  }
  &__user-wrapper {
    font-size: 0.75em;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 0.75em;
    img {
      border-radius: 50%;
    }
  }
  &__reply,
  &__delete {
    font-size: 0.875em;
    &:hover {
      cursor: pointer;
    }
  }
}
