.comment__content {
  margin-top: 15px;
  font-weight: 600;
}

.comment {
  padding: 30px 0px;
  border-bottom: 1px solid rgb(0, 0, 0, 20%);
}

.comment:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.comment--nested {
  margin: 0px 30px;
}

.comment__time {
  opacity: 0.6;
}

.comment__user-wrapper {
  font-size: 11px;
  font-weight: bold;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 12px;
  img {
    border-radius: 50%;
  }
}

.comment__reply {
  &:hover {
    cursor: pointer;
  }
}
.comment__delete {
  &:hover {
    cursor: pointer;
  }
}
