.commentContent {
  margin-top: 15px;
  font-weight: 600;
}

.comment,
.nestedComment {
  padding: 30px 0px;
  border-bottom: 1px solid rgb(0, 0, 0, 20%);
}

.comment:last-child,
.nestedComment:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.nestedComment {
  margin: 30px;
}

.commentedTime {
  opacity: 0.6;
}

.commentReply {
  &:hover {
    cursor: pointer;
  }
}
.commentDelete {
  &:hover {
    cursor: pointer;
  }
}

hr {
  width: 100%;
  opacity: 0.4;
}
