.stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  h4 {
    font-weight: 500;
  }
  .stackList {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    gap: 15px;
    li {
      padding: 12px 20px 8px;
      padding-bottom: 14px;
      border-radius: 30px;
      background-color: var(--gray);
    }
  }
}

@media screen and (max-width: 900px) {
  .stacks {
    justify-content: center;
  }
}
