.detail__stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
  justify-content: center;
  align-items: center;
  h4 {
    font-weight: 500;
  }
  .detail__stack-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875em;
    gap: 0.75em;
    li {
      padding: 0.75em 1.25em 0.5em;
      padding-bottom: 0.75em;
      border-radius: 2em;
      background-color: var(--gray);
    }
  }
}
