.login-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100vh;
}

.login-modal--active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal__background {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.53);
}

.login-modal__content {
  /* Positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 550px;
  border-radius: 10px;
  /* Color */
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  /* Other */
  transform: translate(-50%, -50%);
}

.login-modal__button--close {
  position: absolute;
  top: 50px;
  right: 50px;

  display: flex;
  padding: 0;
  border: none;

  background: none;

  &:hover {
    cursor: pointer;
  }
}

.login-modal__title {
  margin-bottom: 31px;
  
  color: var(--black);

  line-height: 42px;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.login-modal__image {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.google-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 193px;
  height: 39px;
  padding: 35px 0;
}
