.login-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.login-modal--active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal__background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.53);
}

.login-modal__content {
  width: 450px;
  height: 550px;
  background-color: var(--white);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-modal__button--close {
  position: absolute;
  background: none;
  border: none;
  display: flex;
  right: 50px;
  top: 50px;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
}

.login-modal__title {
  color: var(--black);
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 31px;
  text-align: center;
}

.login-modal__image {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.google-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
  width: 193px;
  height: 39px;
}
