@import '../../styles/index.css';
@import '../../pages/MainPage/utils';

.home {
  background: url('../../assets/images/background.svg');
  // opacity: 0.33;
  background-size: 400px;
  background-repeat: no-repeat;
  // background-size: cover;
  background-position: 90% 150%;
  height: 400px;
  background-color: var(--background-blue);
  padding: 40px;
  // display: flex;
  padding-top: 120px;
  @include mobile {
    height: 500px;
    background-position: 50% 90%;
  }
  .banerContainer {
    // position: relative;

    .banerWord {
      // text-align: center;
      position: relative;
      left: 10%;
      top: 20px;
      .homeTitle {
        display: flex;
        font-size: 1.5rem;
        margin: 40px 0px;
        color: var(--black);
        @include tablet {
          display: none;
        }
        @include mobile {
          display: none;
        }
      }
      .small-title {
        display: none;
        @include tablet {
          display: block;
          font-size: 1.5rem;
        }
        @include mobile {
          display: block;
          font-size: 1.5rem;
        }
      }
      .homeDescription {
        display: flex;
        font-size: 2vh;
        margin: 8px, 0;
        color: var(--medium);
        line-height: 3vh;
        @include tablet {
          display: none;
        }
        @include mobile {
          display: none;
        }
      }
    }
  }
}
