@import '../../styles/index.css';
@import '../../styles/utils';

.banner__content {
  margin-left: 5vw;
  .banner__title {
    display: flex;
    font-size: 1.5rem;
    margin-top: 40px;
    margin-bottom: 40px;

    color: var(--black);
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
  .banner__title--mobile {
    display: none;
    @include tablet {
      display: block;
      font-size: 1.5rem;
    }
    @include mobile {
      display: block;
      font-size: 1.5rem;
    }
  }
  .banner__description {
    display: flex;
    font-size: 25px;
    margin: 8px, 0;
    color: var(--medium);
    line-height: 35px;
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
}
