@import '../../styles/index.css';
@import '../../styles/utils';

.home {
  background: url('../../assets/images/background.svg');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: 90% 150%;
  height: 400px;
  background-color: var(--background-blue);
  padding: 40px;
  padding-top: 120px;
  @include mobile {
    height: 500px;
    background-position: 50% 90%;
  }
  .banerContainer {
    .banerWord {
      margin-left: 5vw;
      .homeTitle {
        display: flex;
        font-size: 1.5rem;
        margin-top: 40px;
        margin-bottom: 40px;

        color: var(--black);
        @include tablet {
          display: none;
        }
        @include mobile {
          display: none;
        }
      }
      .small-title {
        display: none;
        @include tablet {
          display: block;
          font-size: 1.5rem;
        }
        @include mobile {
          display: block;
          font-size: 1.5rem;
        }
      }
      .homeDescription {
        display: flex;
        font-size: 25px;
        margin: 8px, 0;
        color: var(--medium);
        line-height: 35px;
        @include tablet {
          display: none;
        }
        @include mobile {
          display: none;
        }
      }
    }
  }
}
