.bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookmark__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 140px;
}

.bookmark__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
}

@media screen and (min-width: 744px) and (max-width: 1133px) {
  .bookmark__cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .bookmark__cards {
    display: flex;
    flex-direction: column;
  }
}
