.bookmark-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-buttons {
  display: flex;
}

.filter-buttons button {
  width: 247px;
  height: 42px;
  background-color: #f0f0f0;
  border: 0;
  border-radius: 30px;
  font-size: 16px;
  color: #333333;
  line-height: 22px;
  margin: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}
