@import '../../styles/index.css';
@import '../../styles/utils';

.main-page-wraper {
  #searchBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .btns {
      cursor: pointer;
      color: #495057;
      box-shadow: inset 0 0 0 1px #ced4da;
      border-radius: 30px;
      padding: 12px 20px 8px;
      margin: 10px;
      opacity: 0.6;
      border: 0;
      transition: opacity 0.3s, background-color 0.3s;
      &:hover {
        opacity: 1;
        font-weight: 500;
        border-color: var(--medium);
        box-shadow: inset 0 0 0 2px var(--medium);
        color: var(--medium);
      }
      .btn-title {
        margin-top: -3px;
        font-size: 1rem;
      }
    }
    .wrapper {
      width: 40%;
      max-width: 500px;
      .searchDiv {
        display: flex;
        height: 40px;
        background-color: #ffffff;
        opacity: 0.6;
        border: 1px solid #495057;
        border-radius: 50px;
        // max-width: 800px;
        #searchInput {
          outline: none;
          width: 100%;
          border-radius: 80px;
          border: none;
          &:focus {
            outline: none;
            box-shadow: 0 0 0px;
          }
        }
        .searchIconImg {
          cursor: pointer;
        }
      }
    }
  }
}

.mainPostCards {
  height: 700px;
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
  }
}
