@import '../../styles/index.css';
@import '../../styles/utils';

.main__banner {
  background: url('../../assets/images/avatar.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: 90% 150%;
  height: 400px;
  background-color: var(--background-blue);
  padding: 40px;
  padding-top: 120px;
  @include mobile {
    height: 300px;
    background-size: 200px;
    background-position: 90% 130%;
  }
}

.main-cards {
  min-height: 700px;
  display: grid;
  padding: 0px 40px;
  width: 100%;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
