@import '../../styles/index.css';
@import './utils.scss';

.main-page-wraper {
  #serchBar {
    img {
      fill: none;
      width: 20px;
    }
    display: flex;
    justify-content: space-between;
    .filterBtnLeftContainer {
      margin-left: 30px;
      text-align: center;
      display: flex;
      .recomand {
        pointer-events: none;
        margin: 10px;
        .recomandTitle {
          font-size: 5px;
        }
      }
      .recent {
        cursor: pointer;
        margin: 10px;
        .recentTitle {
          font-size: 5px;
        }
      }
      .populate {
        cursor: pointer;
        margin: 10px;
        .populateTitle {
          font-size: 5px;
        }
      }
    }
    .filterBtnRightContainer {
      margin-right: 30px;
      text-align: center;
      display: flex;
      .searchDiv {
        display: flex;
        // height: 100%;
        height: 40px;
        background-color: #ffffff;
        border: 1px solid gray;
        border-radius: 50px;
        max-width: 300px;
        #searchInput {
          outline-style: none;
          height: 80%;
          border-radius: 80px;

          border: none;
        }
        .searchIconImg {
          cursor: pointer;
          transform: translate(0%, 40%);
        }
      }
      .skills {
        cursor: pointer;
        margin: 10px;
        .skillsTitle {
          font-size: 12px;
        }
      }
      .avail {
        cursor: pointer;
        margin: 10px;
        .availTitle {
          font-size: 12px;
        }
      }
    }
  }
  .skills-bar {
    display: flex;
    .drop-content {
      display: flex;
      .skills-drop-down {
        display: flex;
        .skill-icon {
        }
      }
    }
  }
  .mainPostCards {
    // position: absolute;
    .cardContainer {
      // position: relative;
      // left: 9%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      align-items: center;
    }
  }
}
