.main-page-wraper #home {
  background: url("../../assets/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding: 40px;
  padding-top: 120px;
}

.main-page-wraper #home .banerContainer {
  margin-left: 200px;
}

.main-page-wraper #home .banerContainer .banerWord {
  margin-left: 100px;
  float: left;
  width: 500px;
}

.main-page-wraper #home .banerContainer .banerWord .homeTitle {
  font-size: 30px;
  margin: 16px 0px;
}

.main-page-wraper #home .banerContainer .banerWord .homeDescription {
  font-size: 16px;
  margin: 8px,0;
}

.main-page-wraper #home .banerContainer .banerImg {
  float: right;
  width: 400px;
  margin-right: 100px;
}

.main-page-wraper #hmoe:after {
  content: "";
  display: block;
  clear: both;
}

.main-page-wraper #serchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-page-wraper #serchBar svg {
  fill: none;
  width: 20px;
  height: 15px;
}

.main-page-wraper #serchBar .filterBtnLeftContainer {
  margin-left: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page-wraper #serchBar .filterBtnLeftContainer .recomand {
  margin: 10px;
}

.main-page-wraper #serchBar .filterBtnLeftContainer .recomand .recomandTitle {
  font-size: 5px;
}

.main-page-wraper #serchBar .filterBtnLeftContainer .recent {
  margin: 10px;
}

.main-page-wraper #serchBar .filterBtnLeftContainer .recent .recentTitle {
  font-size: 5px;
}

.main-page-wraper #serchBar .filterBtnLeftContainer .populate {
  margin: 10px;
}

.main-page-wraper #serchBar .filterBtnLeftContainer .populate .populateTitle {
  font-size: 5px;
}

.main-page-wraper #serchBar .filterBtnRightContainer {
  margin-right: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page-wraper #serchBar .filterBtnRightContainer #searchInput {
  margin: auto;
  outline-style: none;
  height: 25px;
  line-height: 25px;
  border-radius: 50px;
  border: solid 1px grey;
}

.main-page-wraper #serchBar .filterBtnRightContainer .skills {
  margin: 10px;
}

.main-page-wraper #serchBar .filterBtnRightContainer .skills .skillsTitle {
  font-size: 12px;
}

.main-page-wraper #serchBar .filterBtnRightContainer .avail {
  margin: 10px;
}

.main-page-wraper #serchBar .filterBtnRightContainer .avail .availTitle {
  font-size: 12px;
}
