.recommend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recommend__comment {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 140px;
}

.recommend__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  flex-wrap: wrap;

  p {
    margin-bottom: 20px;
  }
}

.recomment__no-result-contents {
  margin-top: 40px;
}

@media screen and (min-width: 744px) and (max-width: 1133px) {
  .recommend__cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .recommend__cards {
    display: flex;
    flex-direction: column;
  }

  .recommend__comment {
    font-size: 15px;
    text-align: center;

    p:first-child {
      margin-top: 55px;
    }
  }
}
