.recommend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recommend-comment {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 140px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  flex-wrap: wrap;
}

.recommendNoResult {
  margin-top: 40px;
}

.recommend-comment p {
  margin-bottom: 20px;
}

@media screen and (min-width: 744px) and (max-width: 1133px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .filter-buttons {
    display: flex;
    flex-direction: column;
  }
  .filter-buttons button {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .filter-buttons button:first-child {
    margin-top: 50px;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .recommend-comment {
    font-size: 15px;
    text-align: center;
  }

  .recommend-comment p:first-child {
    margin-top: 55px;
  }
}
