@import '../../styles/utils';

.gnb {
  position: absolute;
  background-color: var(--white);
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  z-index: 999;
  @include mobile {
    height: 60px;
  }
}

.gnb__inner {
  display: flex;
}

.gnb__inner .gnb__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.gnb__inner .gnb__link {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: var(--medium);
  cursor: pointer;


  &:hover {
    opacity: 0.3;
  }
}