@import '../../styles/utils';

@mixin gnb__item--text {
  color: var(--medium);

  text-decoration: none;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  
  cursor: pointer;
  &:hover {
    opacity: 0.3;
  }
}

.gnb {
  position: absolute;
  z-index: 999;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  padding: 0 5%;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background-color: var(--white);

  @include mobile {
    height: 60px;
  }
}

.gnb__inner {
  display: flex;
  transition: 0.3s;
}

.gnb__item {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 15px;
}

.gnb__link {
  @include gnb__item--text;
}

.gnb__button {
  margin: 0;
  padding: 0;
  outline:none;
  border: none;

  background: none;
}

.gnb__button--login {
  @include gnb__item--text;
  padding-top: 2.5px;

  font-size: 16px;
  font-weight: 500;
}

.hamburger {
  display: none;

  cursor: pointer;
}

.hamburger__line {
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px 0;

  background-color: var(--medium);

  transition: all 0.3s ease-in-out;
}

@include mobile {
  .hamburger {
    display: block;
  }

  .hamburger--active .hamburger__line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger--active .hamburger__line:nth-child(2) {
    opacity: 0;
  }
  .hamburger--active .hamburger__line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .gnb__inner {
    position: absolute;
    top: 60px;
    left: -100%;

    flex-direction: column;
    width: 100%;
    border-top: 0.5px solid var(--medium);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    background-color: var(--white);
  }

  .gnb__link, .gnb__button {
    width: 100%;
    
    text-align: center;
  }

  .gnb__inner--active {
    left: 0;
  }
}


