@import '../../styles/utils';

@mixin gnb__item--text {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: var(--medium);
  cursor: pointer;
  line-height: 40px;

  &:hover {
    opacity: 0.3;
  }
}

.gnb {
  position: absolute;
  background-color: var(--white);
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  z-index: 999;
  @include mobile {
    height: 60px;
  }
}

.gnb__inner {
  display: flex;
}

.gnb__item {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 15px;
}

.gnb__link {
  @include gnb__item--text;
}

.gnb__button {
  background: none;
  border: none;
  outline:none;
  padding: 0;
  margin: 0;
}

.gnb__button--login {
  @include gnb__item--text;
  padding-top: 2.5px;
  font-size: 16px;
  font-weight: 500;
}