.gnb {
  position: absolute;
  background-color: var(--white);
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  z-index: 999;
}

.nav-list {
  display: flex;

  li {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    a,
    a:link,
    .login-text {
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      color: var(--medium);
      cursor: pointer;
    }
  }
}

.drop-box {
  top: 20px;

  .profile {
    position: relative;
    width: 50px;
    height: 50px;

    img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .menu::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: -5px;
    left: 20px;
    width: 10px;
    height: 10px;
    background: var(--dark);
    transform: rotate(45deg);
  }
  .menu {
    position: absolute;
    top: 75px;
    padding: 10px 10px;
    margin-right: 5px;
    background-color: var(--dark);
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    visibility: hidden;
    opacity: 0;

    a {
      color: var(--white);
    }
  }

  .menu.active {
    visibility: visible;
    opacity: 0.9;
  }
}
